@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width:992px) {

    body{
        background-image: linear-gradient(to top, var(--cor04), var(--cor02));
    }
    section#login{
        width: 90vw;
        height: 60%;
    }
    section#login > div#imagem{
        float: left;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario{
        float: right;
        width: 50%;

    }
    div#formulario > h1{
        font-size: 1.6em;
    }
    div#formulario > p{
        font-size: 1.2em;
    }
  
    
}

@media screen and (min-width:992px){
    
    body{
        background-image: linear-gradient(to right, var(--cor04), var(--cor02));
    }
    section#login{
        width: 950px;
        height: 60%;
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    div#formulario > h1{
        font-size: 1.8em;
    }
    div#formulario > p{
        font-size: 1.3em;
    }
  
    
}